<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzy56.diablo.dao.InvoiceTitleMapper">
  <resultMap id="BaseResultMap" type="com.ylzy56.diablo.domain.InvoiceTitle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="invoice_title_id" jdbcType="VARCHAR" property="invoiceTitleId" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="tax_num" jdbcType="VARCHAR" property="taxNum" />
    <result column="deposit_bank" jdbcType="VARCHAR" property="depositBank" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="fixed_line" jdbcType="VARCHAR" property="fixedLine" />
    <result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
  </resultMap>
</mapper>