<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzy56.diablo.dao.InvoiceMapper">
  <resultMap id="BaseResultMap" type="com.ylzy56.diablo.domain.Invoice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="tax_amount" jdbcType="VARCHAR" property="taxAmount" />
    <result column="tax_rate" jdbcType="VARCHAR" property="taxRate" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="tax_num" jdbcType="VARCHAR" property="taxNum" />
    <result column="deposit_bank" jdbcType="VARCHAR" property="depositBank" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="fixed_line" jdbcType="VARCHAR" property="fixedLine" />
    <result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
    <result column="invoice_company" jdbcType="VARCHAR" property="invoiceCompany" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="paper_invoice_num" jdbcType="VARCHAR" property="paperInvoiceNum" />
    <result column="logistics" jdbcType="VARCHAR" property="logistics" />
    <result column="logistics_num" jdbcType="VARCHAR" property="logisticsNum" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="reviewer" jdbcType="VARCHAR" property="reviewer" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
    <result column="mailing_address_id" jdbcType="VARCHAR" property="mailingAddressId" />
  </resultMap>
</mapper>