<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzy56.diablo.dao.InvoiceMapper">
  <resultMap id="BaseResultMap" type="com.ylzy56.diablo.domain.Invoice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="TAX_AMOUNT" jdbcType="DECIMAL" property="taxAmount" />
    <result column="TAX_RATE" jdbcType="DOUBLE" property="taxRate" />
    <result column="INVOICE_TITLE" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="ENTERPRISE" jdbcType="VARCHAR" property="enterprise" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PAPER_INVOICE_NUMBER" jdbcType="VARCHAR" property="paperInvoiceNumber" />
    <result column="LOGISTICS_COMPANY" jdbcType="VARCHAR" property="logisticsCompany" />
    <result column="LOGISTICS_NO" jdbcType="VARCHAR" property="logisticsNo" />
  </resultMap>
</mapper>