<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzy56.diablo.dao.MoneyOrderMapper">
  <resultMap id="BaseResultMap" type="com.ylzy56.diablo.domain.MoneyOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money_order_no" jdbcType="VARCHAR" property="moneyOrderNo" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receiver_account" jdbcType="VARCHAR" property="receiverAccount" />
    <result column="pay_bank" jdbcType="VARCHAR" property="payBank" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="pay_matter" jdbcType="VARCHAR" property="payMatter" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="pay_account" jdbcType="VARCHAR" property="payAccount" />
    <result column="pay_date" jdbcType="TIMESTAMP" property="payDate" />
    <result column="account_time" jdbcType="TIMESTAMP" property="accountTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="isdel" jdbcType="VARCHAR" property="isdel" />
  </resultMap>
</mapper>