<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylzy56.diablo.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.ylzy56.diablo.domain.Permission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission_level" jdbcType="VARCHAR" property="permissionLevel" />
    <result column="parent_permission_id" jdbcType="INTEGER" property="parentPermissionId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modifier" jdbcType="VARCHAR" property="lastModifier" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
  </resultMap>
</mapper>